{
  "parser": "@typescript-eslint/parser",
  "env": {
    "es6": true,
    "node": true,
    "jest": true
  },
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "airbnb",
    "prettier",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:import/typescript",
    "plugin:@profi.co/recommended"
  ],
  "plugins": ["prettier"],
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".ts", ".json"],
        "moduleDirectory": ["node_modules", "src"]
      }
    }
  },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true,
      "modules": true
    },
    "ecmaVersion": 2020,
    "sourceType": "module"
  },
  "globals": {
    "NodeJS": "readonly"
  },
  "rules": {
    "@typescript-eslint/ban-ts-comment": ["off"],
    "@typescript-eslint/ban-ts-ignore": ["off"],
    "@typescript-eslint/camelcase": ["off"],
    "@typescript-eslint/explicit-function-return-type": ["warn"],
    "@typescript-eslint/explicit-module-boundary-types": ["off"],
    "@typescript-eslint/interface-name-prefix": ["off"],
    "@typescript-eslint/no-empty-function": ["off"],
    "@typescript-eslint/no-shadow": ["error"],
    "@typescript-eslint/no-unused-vars": ["warn"],
    "@typescript-eslint/no-use-before-define": ["error"],
    "@typescript-eslint/no-var-requires": ["off"],
    "camelcase": ["off"],
    "class-methods-use-this": ["off"],
    "curly": ["error"],
    "global-require": ["off"],
    "import/default": 2,
    "import/export": 2,
    "import/extensions": [
      "error",
      "ignorePackages",
      {
        "js": "never",
        "ts": "never"
      }
    ],
    "import/named": 2,
    "import/namespace": 2,
    "import/no-cycle": [2, { "maxDepth": 1 }],
    "import/no-dynamic-require": ["off"],
    "import/no-extraneous-dependencies": [
      "error",
      { "devDependencies": ["**/*.test.tsx", "src/setupTests.ts"] }
    ],
    "import/prefer-default-export": ["off"],
    "newline-before-return": "error",
    "no-console": "off",
    "no-shadow": ["off"],
    "no-unused-vars": ["off"],
    "no-use-before-define": ["off"],
    "padding-line-between-statements": [
      "error",
      {
        "blankLine": "always",
        "prev": ["const", "let", "var"],
        "next": "*"
      },
      {
        "blankLine": "always",
        "prev": "*",
        "next": ["const", "let", "var"]
      },
      {
        "blankLine": "any",
        "prev": ["const", "let", "var"],
        "next": ["const", "let", "var"]
      },
      {
        "blankLine": "always",
        "prev": "*",
        "next": ["if", "while", "for"]
      },
      {
        "blankLine": "always",
        "prev": ["if", "while", "for"],
        "next": "*"
      }
    ]
  }
}
